distlib
filelock
importlib-metadata
importlib-resources
platformdirs
typing-extensions
virtualenv
zipp==3.6.0
dataclasses
numpy==1.24.1
pandas
dill 
sklearn
pymongo
certifi
pyYaml
scikit-learn
Flask
pymongo[srv]
dns-python
e .
