distlib
filelock
importlib-metadata
importlib-resources
pkg-resources
platformdirs
typing-extensions
virtualenv
zipp==3.6.0
dataclasses
numpy
pandas
dill 
sklearn
pymongo
certifi
pyYaml
scikit-learn
Flask
