<html>
{% block head %}
<head>
  <meta charset="utf-8">
  <title>Customer Personality Analysis</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
{% endblock %}

{% block body %}
<body>
  <h2>A Warm welcome to the website</h2>
  <hr>
  <p>In this project, I will be performing an unsupervised clustering of data on the customer's records from a groceries firm's database. </p>
  <p>Customer segmentation is the practice of separating customers into groups that reflect similarities among customers in each cluster.</p>
  <p> I will divide customers into segments to optimize the significance of each customer to the business</p>
  <p> To modify products according to distinct needs and behaviours of the customers.</p>
   <p> It also helps the business to cater to the concerns of different types of customers.</p>
  <p>I have trained the model after clustering and prediction is possible for differernt clusters</p>
  <div>
    <table>
      <tr>
        <td>
          <h3 class="s">Clustering and Training:</h3>
        </td>
      </tr>
      <form class="" action="/train" method="post">
        <tr>
          <td><input type="submit" name="Train" value="Train"></td>
        </tr>
      </form>
    </table>
    <table>
      <tr>
        <td>
          <h3 class="s">Prediction:</h3>
        </td>
      </tr>
      <form class="" action="/predict" method="post">
        <tr>
          <td><input type="submit" name="Predict" value="Predict"></td>
        </tr>
      </form>
    </table>
  </div>
</body>
{% endblock %}
</html>

